@using M13n.Resources.Areas.Admin.Views

@section featured {
    
    <section class="featured">
        <div class="content-wrapper">
            <h1>@DashboardStrings.Dashboard_Title</h1>
            <p>
                @DashboardStrings.Dashboard_FeatureText
            </p>
        </div>
    </section>

}