@using M13n.Resources.Views

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@HomeStrings.Welcome</h1>
            </hgroup>
            <p>
                @HomeStrings.FeatureText
            </p>
            <p>
                I'm sorry if I didn't get right some words or expression in your language.  Feel free to correct me with a pull request.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Dig in the source code and do some experimentations with this prototype or your own.  Glimpse is already installed and you can <a href="/Glimpse.axd">turn it On or Off</a>
    </li>

    <li class="two">
        <h5>Read Some Blog Posts on the Subject</h5>
        <a href="http://adamyan.blogspot.ca/2010/02/aspnet-mvc-2-localization-complete.html">ASP.NET MVC 2 Localization complete guide</a><br/>
        <a href="http://adamyan.blogspot.ca/2010/07/addition-to-aspnet-mvc-localization.html">Addition to ASP.NET MVC Localization - Using routing</a>
    </li>

    <li class="three">
        <h5>Experiment by Yourself</h5>
        Experiment by yourself and go create something!  If you discover something new, don't be shy to share back.
    </li>
</ol>
