@using M13n.Resources.Views

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@HomeStrings.Home_Welcome</h1>
            </hgroup>
            <p>
                @HomeStrings.Home_FeatureText
            </p>
            <p>
                I'm sorry if I didn't get right some words or expression in your language.  Feel free to correct me with a pull request.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Dig in the source code and experiment with this prototype.  
    </li>

    <li class="two">
        <h5>Experiment by yourself</h5>
        <a href="https://github.com/dproteau/m13n">Fork this project on Github</a> and experiment all you want by yourself.<br />   
        <a href="http://getglimpse.com/">Glimpse</a> is already installed and you can <a href="/Glimpse.axd">turn it On or Off</a>
    </li>

    <li class="three">
        <h5>Use your knowledge</h5>
        Go and create something new!
    </li>
</ol>
